.block {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}
.on {
    background-color: black;
}
.on:hover {
    background-color: darkgray;
}
.off {
    background-color: white;
}
.off:hover {
    background-color: lightgrey;
}
.selected {
    background-color: yellow;
}
.error {
    color: red;
}